html,
body {
  padding: 0;
  margin: 0;
  font-family: "Oswald";
}

body {
  background: #012950;
}

main {
  max-width: 1280px;
  margin: 0 auto;
  min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
